<section class="container-fluid" data-ng-controller="OfferingController" data-ng-init="init()">
<h1 class="page-title">Create - <span class="fw-semi-bold">Offerings</span></h1>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>
                    Wizard
                    <small>Create & Publish</small>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12">

                        <div data-bootstrap-wizard class="form-wizard">
                            <ul class="nav-justified mb-sm">
                                <li><a href="#tab1" data-toggle="tab">
                                    <small>1.</small>
                                    Offering Details</a></li>
                                <li><a href="#tab2" data-toggle="tab">
                                    <small>2.</small>
                                    Add Images</a></li>
                                <li><a href="#tab3" data-toggle="tab">
                                    <small>3.</small>
                                    Publish</a></li>
                            </ul>
                            <div id="bar" class="progress progress-xs">
                                <div class="progress-bar progress-bar-gray-light"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane bg-gray-lighter" id="tab1">
                                    <form action='' method="POST"
                                          data-parsley-priority-enabled="false"
                                          novalidate="novalidate">
                                        <fieldset>
                                            <div class="form-group">
                                                <!-- Offering type -->
                                                <div class="col-md-6">
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="type" id="type-product" 
                                                            value="product" data-ng-model="offering.type" checked>
                                                        <label for="type-product">
                                                            Product
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-success">
                                                        <input type="radio" name="type" id="type-service" 
                                                            value="service" data-ng-model="offering.type">
                                                        <label for="type-product">
                                                            Service
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error': offeringForm.name.$dirty && offeringForm.name.$invalid }">
                                                <!-- Username -->
                                                <input type="text" id="username" name="username" placeholder="Name"
                                                       class="form-control"
                                                       required="required"
                                                       data-ng-model="offering.name">
                                            </div>
                                            <div class="form-group">
                                                <!-- summay -->
                                                <input type="text" id="summary" name="summary"
                                                       placeholder="Summary" class="form-control"
                                                       data-parsley-trigger="change"
                                                       data-ng-model="offering.summary">
                                                <span class="help-block">Please provide a good summary of your product</span>
                                            </div>
                                            <div class="form-group">
                                                <!-- description -->
                                                <textarea rows="3" class="form-control transition-height" id="elastic-textarea"
                                                        data-ui-jq="autosize" data-ui-options='{append: "\n"}'
                                                        placeholder="Description.."
                                                        data-ng-model="offering.description"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <tags-input ng-model="offering.keywords" display-property="value" placeholder="Keywords">
                                                </tags-input>
                                            </div>
                                            <div class="form-group">
                                                <tags-input ng-model="offering.bullets" display-property="value" placeholder="Bullet points">
                                                </tags-input>
                                            </div>
                                            <div ng-if="offering.type === 'product'">
                                                <div class="form-group">
                                                    <input name="units" type="text" data-ng-model="offering.units" id="units" class="form-control" placeholder="units" >
                                                </div>
                                                <div class="form-group">
                                                    <input name="price" type="text" data-ng-model="offering.price" id="price" class="form-control" placeholder="price" >
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <button type="button" class="btn btn-info btn-block" data-ng-click="create()">Save Details</button>
                                </div>
                                <div class="tab-pane bg-gray-lighter" id="tab2">
                                    <!--panel Step2- add images -->
                                    <div class="row">
                                        <!-- Image uploader -->
                                        <div class="col-md-6">
                                            <section class="widget">
                                                <header>
                                                    <h4>
                                                        Upload <span class="fw-semi-bold">Images</span>
                                                    </h4>
                                                    <div class="widget-controls">
                                                        <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </div>
                                                </header>
                                                <div class="widget-body">
                                                    <div>
                                                        <span class="btn btn-info btn-block btn-file">Select images...
                                                          <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                                                        </span>
                                                    </div>

                                                    <div>

                                                        <h3>Upload queue</h3>
                                                        <p>Queue length: {{ uploader.queue.length }}</p>

                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th width="50%">Name</th>
                                                                    <th ng-show="uploader.isHTML5">Size</th>
                                                                    <th ng-show="uploader.isHTML5">Progress</th>
                                                                    <th>Status</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in uploader.queue">
                                                                    <td><strong>{{ item.file.name }}</strong></td>
                                                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                                    <td ng-show="uploader.isHTML5">
                                                                        <div class="progress" style="margin-bottom: 0;">
                                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                                    </td>
                                                                    <td nowrap>
                                                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                                                        </button>
                                                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div>
                                                            <div>
                                                                Queue progress:
                                                                <div class="progress" style="">
                                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                                <span class="glyphicon glyphicon-upload"></span> Upload all
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                                <span class="glyphicon glyphicon-trash"></span> Remove all
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </section>
                                        </div>

                                        <!-- End of Image uploader -->
                                        <!-- existing images -->
                                        <div class="col-md-6">
                                            <section class="widget">
                                                <header>
                                                    <h4>
                                                        Existing <span class="fw-semi-bold">Images</span>
                                                    </h4>
                                                    <div class="widget-controls">
                                                        <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </div>
                                                </header>
                                                <div class="widget-body">
                                                    <div class="list-group">
                                                      <a data-ng-repeat="upload in uploads.images" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
                                                        <small class="list-group-item-text">
                                                          Posted on
                                                          <span data-ng-bind="upload.created | date:'mediumDate'"></span>
                                                          by
                                                          <span data-ng-bind="upload.user.displayName"></span>
                                                        </small>
                                                        <h4 class="list-group-item-heading" data-ng-bind="upload.fileName"></h4>
                                                        <img class="img-responsive img-thumbnail" style="width: 80px; height: 80px;" ng-src="{{upload.path}}">
                                                        <p class="list-group-item-text" data-ng-bind="upload.type"></p>
                                                        <p class="list-group-item-text" data-ng-bind="upload.size">bytes</p>
                                                      </a>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <!-- end of existing images -->
                                    </div>
                                </div>
                                <div class="tab-pane bg-gray-lighter" id="tab3">
                                    <div class="checkbox-inline checkbox-ios">
                                        <label for="checkbox-ios1">
                                            <input type="checkbox" id="checkbox-ios1" data-ui-switch 
                                                data-ng-init="offering.publish = false" data-ng-model="offering.publish">
                                        </label>
                                    </div>
                                </div>
                                <ul class="pager wizard">
                                    <li class="previous">
                                        <button class="btn btn-default btn-rounded pull-left">
                                            <i class="fa fa-caret-left"></i> &nbsp; Previous
                                        </button>
                                    </li>
                                    <li class="next">
                                        <button class="btn btn-primary btn-rounded pull-right">
                                            Next &nbsp; <i class="fa fa-caret-right"></i></button>
                                    </li>
                                    <li class="finish" style="display: none">
                                        <button class="btn btn-success btn-rounded pull-right" >
                                            Finish &nbsp; <i class="glyphicon glyphicon-ok"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</section>