<section class="container-fluid" data-ng-controller="OfferingController" data-ng-init="find()">
    <h1 class="page-title">List - <span class="fw-semi-bold">Items</span></h1>

    <div>
        <div class="clearfix mb-lg">
            <div class="btn-group m-b-20">
            <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'all'}"
                  data-ng-click="activeGroup = 'all'">All</span>
            <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'nature'}"
                  data-ng-click="activeGroup = 'nature'">Nature</span>
            <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'people'}"
                  data-ng-click="activeGroup = 'people'">People</span>
            <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'space'}"
                  data-ng-click="activeGroup = 'space'">Space</span>
            </div>
            <div class="pull-right m-b-20">
                <div class="btn-group">
                    <span class="btn btn-default" data-ng-class="{'active': order == 'asc'}"
                          data-ng-click="order = 'asc'"><i class="fa fa-sort-numeric-asc"></i></span>
                    <span class="btn btn-default"  data-ng-class="{'active': order == 'desc'}"
                          data-ng-click="order = 'desc'"><i class="fa fa-sort-numeric-desc"></i></span>
                </div>
            </div>
        </div>
        <div class="row gallery" data-ui-jq="magnificPopup"
             data-sn-gallery data-options="{ itemSelector: '.gallery-item'}"
             data-ui-options="{ delegate: '.thumbnail > a',  type: 'image', gallery: { enabled: true  } }">
            <div data-ng-repeat="item in offerings"
                 class="col-sm-6 col-md-3 gallery-item" data-groups='{{item.groups}}' data-title="{{item.name}}">
                <div class="thumbnail">
                    <a href="{{item.image}}"><img data-ng-src="{{item.image}}" alt="..."></a>
                    <div class="caption">
                        <h5 class="mt-0 mb-xs">{{item.name}}</h5>
                        <ul class="post-links">
                            <li><a ng-click="viewItem(item._id)">View</a></li>
                            <li><a ng-click="editItem(item._id)"><span class="text-info"><i class="glyphicon glyphicon-edit"></i> Edit</span></a></li>
                            <li><a ng-click="editItem(item._id)"><span class="text-success"><i class="fa {{item.publish ? 'fa-flag' : 'fa-flag-o'}}"></i> <!--<input type="checkbox" id="checkbox-ios1" data-ui-switch="{size: 'small'}" data-ng-init="switchery1 = true" data-ng-model="switchery1">--> Publish</span></a>
                            </li>
                            <li><a ng-click="deleteItem(item._id)"><span class="text-danger"><i class="glyphicon glyphicon-trash"></i> Delete</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 js-shuffle-sizer"></div>
        </div>
    </div>

</section>