<section class="container-fluid" data-ng-controller="OfferingController" data-ng-init="init()">
    <section class="widget">
        <div class="widget-controls">
            <a href="#"><i class="fa fa-refresh"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
        <div class="widget-body">
            <div class="widget-top-overflow windget-padding-md clearfix bg-warning text-white">
            <!--<div class="widget-top-overflow windget-padding-md clearfix text-white">
                <img src="modules/core/demo/img/pictures/17.jpg">-->
                <h3 class="mt-lg mb-lg"><span class="fw-semi-bold">{{offering.name}} -</span> {{offering.summary}}</h3>
                <ul class="tags text-white pull-right">
                    <li><a href="#">Order</a></li>
                </ul>
            </div>
            <div class="post-user mt-n-lg">
                <span class="thumb-lg pull-left mr">
                    <img class="img-circle" src="modules/core/demo/img/people/a4.jpg" alt="...">
                </span>
                <h5 class="mt-sm fw-normal text-white">{{offering.entity}} <small class="text-white text-light"></small></h5>
                <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; </p>
            </div>
            <p class="text-light fs-mini m">{{offering.description}}. </p>
        </div>
        <footer class="bg-body-light">
            <ul class="post-links">
                <li ng-repeat="keyword in offering.bullets"><a href="#">{{keyword.value}}</a></li>
            </ul>
            <ul class="post-links">
                <li ng-repeat="keyword in offering.keywords"><a href="#">{{keyword.value}}</a></li>
            </ul>
        </footer>
    </section>
</section>