<h1 class="page-title">Dashboard <small><small>The Lucky One</small></small></h1>
<div class="row">
    <div class="col-md-8">
        <!-- minimal widget consist of .widget class. note bg-transparent - it can be any background like bg-gray,
        bg-primary, bg-white -->
        <section class="widget bg-transparent" ng-controller="GeoLocationsWidgetDemoController">
            <!-- .widget-body is a mostly semantic class. may be a sibling to .widget>header or .widget>footer -->
            <div class="widget-body">
                <!-- for this particular example we also need to preload us map, as this is mapael's extension -->
                <div class="mapael" data-ui-jq="mapael" data-ui-options="mapData" data-ui-preload="['lib/jQuery-Mapael/js/maps/usa_states.js']">
                    <div class="stats">
                        <h5 class="text-white">GEO-LOCATIONS</h5>
                        <p class="h3 text-warning no-margin"><strong data-animate-number>1 656 843</strong> <i class="fa fa-map-marker"></i></p>
                    </div>
                    <div class="map">
                        <span>Alternative content for the map</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget bg-transparent">
            <header>
                <h4>
                    Map
                    <span class="fw-semi-bold">Statistics</span>
                </h4>
                <div class="widget-controls widget-controls-hover">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#"><i class="fa fa-refresh"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p>Status: <strong>Live</strong></p>
                <p>
                    <span class="circle bg-warning"><i class="fa fa-map-marker"></i></span>
                    146 Countries, 2759 Cities
                </p>
                <div class="row progress-stats">
                    <div class="col-sm-9">
                        <h5 class="name">Foreign Visits</h5>
                        <p class="description deemphasize">Some Cool Text</p>
                        <div data-progressbar data-sn-progress-animate data-value="60" class="progress-sm bg-white"></div>
                    </div>
                    <div class="col-sm-3 text-align-center">
                                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span data-animate-number>75</span>%</small>
                                </span>
                    </div>
                </div>
                <div class="row progress-stats">
                    <div class="col-sm-9">
                        <h5 class="name">Local Visits</h5>
                        <p class="description deemphasize">P. to C. Conversion</p>
                        <div data-progressbar data-sn-progress-animate data-value="39" data-type="danger" class="progress-sm bg-white"></div>
                    </div>
                    <div class="col-sm-3 text-align-center">
                                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span data-animate-number>84</span>%</small>
                                </span>
                    </div>
                </div>
                <div class="row progress-stats">
                    <div class="col-sm-9">
                        <h5 class="name">Sound Frequencies</h5>
                        <p class="description deemphasize">Average Bitrate</p>
                        <div data-progressbar data-sn-progress-animate data-value="80" data-type="success" class="progress-sm bg-white"></div>
                    </div>
                    <div class="col-sm-3 text-align-center">
                                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span data-animate-number>92</span>%</small>
                                </span>
                    </div>
                </div>
                <h5 class="fw-semi-bold mt">Map Distributions</h5>
                <p>Tracking: <strong>Active</strong></p>
                <p>
                    <span class="circle bg-warning"><i class="fa fa-cog"></i></span>
                    391 elements installed, 84 sets
                </p>
                <div class="input-group mt">
                    <input type="text" class="form-control" placeholder="Search Map">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search text-gray"></i>
                                </button>
                            </span>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <section class="widget">
            <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
            <header>
                <h5>
                    USERBASE GROWTH
                </h5>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="stats-row">
                    <div class="stat-item">
                        <h6 class="name">Overall Growth</h6>
                        <p class="value">76.38%</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name">Montly</h6>
                        <p class="value">10.38%</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name">24h</h6>
                        <p class="value">3.38%</p>
                    </div>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    </div>
                </div>
                <p>
                    <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                    <span class="fw-semi-bold">17% higher</span>
                    than last month</p>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget">
            <header>
                <h5>
                    TRAFFIC VALUES
                </h5>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="stats-row">
                    <div class="stat-item">
                        <h6 class="name">Overall Values</h6>
                        <p class="value">17 567 318</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name">Montly</h6>
                        <p class="value">55 120</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name">24h</h6>
                        <p class="value">9 695</p>
                    </div>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    </div>
                </div>
                <p>
                    <small><span class="circle bg-warning"><i class="fa fa-chevron-down"></i></span></small>
                    <span class="fw-semi-bold">8% lower</span>
                    than last month
                </p>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget">
            <header>
                <h5>
                    RANDOM VALUES
                </h5>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="stats-row">
                    <div class="stat-item">
                        <h6 class="name">Overcome T.</h6>
                        <p class="value">104.85%</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name">Takeoff Angle</h6>
                        <p class="value">14.29&deg;</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name">World Pop.</h6>
                        <p class="value">7,211M</p>
                    </div>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    </div>
                </div>
                <p>
                    <small><span class="circle bg-warning"><i class="fa fa-plus"></i></span></small>
                    <span class="fw-semi-bold">8 734 higher</span>
                    than last month
                </p>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <section class="widget">
            <header>
                <h5><span class="label label-danger">New</span> Messages</h5>
                <div class="widget-controls">
                    <a href="#"><i class="fa fa-refresh"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body no-padding">
                <div class="list-group list-group-lg">
                    <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="modules/core/demo/img/people/a2.jpg" alt="...">
                                    <i class="status status-bottom bg-success"></i>
                                </span>
                        <h5 class="no-margin">Chris Gray</h5>
                        <p class="help-block text-ellipsis no-margin">Hey! What's up? So many times since we</p>
                    </a>
                    <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="modules/core/demo/img/people/a4.jpg" alt="...">
                                    <i class="status status-bottom bg-success"></i>
                                </span>
                        <h5 class="no-margin">Jamey Brownlow</h5>
                        <p class="help-block text-ellipsis no-margin">Good news coming tonight. Seems they agreed to proceed</p>
                    </a>
                    <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="modules/core/demo/img/people/a1.jpg" alt="...">
                                    <i class="status status-bottom bg-warning"></i>
                                </span>
                        <h5 class="no-margin">Livia Walsh</h5>
                        <p class="help-block text-ellipsis no-margin">Check my latest email plz!</p>
                    </a>
                    <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="modules/core/demo/img/people/a5.jpg" alt="...">
                                    <i class="status status-bottom bg-danger"></i>
                                </span>
                        <h5 class="no-margin">Jaron Fitzroy</h5>
                        <p class="help-block text-ellipsis no-margin">What about summer break?</p>
                    </a>
                </div>
            </div>
            <footer class="bg-body-light mt">
                <input type="search" class="form-control input-sm" placeholder="Search">
            </footer>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget">
            <header>
                <h5>
                    Market <span class="fw-semi-bold">Stats</span>
                </h5>
                <div class="widget-controls">
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <h3>$720 Earned</h3>
                <p class="fs-mini text-muted mb mt-sm">
                    Target <span class="fw-semi-bold">$820</span> day earnings
                    is <span class="fw-semi-bold">96%</span> reached.
                </p>
            </div>
            <div class="widget-table-overflow">
                <table class="table table-striped table-sm">
                    <thead class="no-bd">
                    <tr>
                        <th>
                            <div class="checkbox">
                                <input id="checkbox210" type="checkbox" data-check-all="">
                                <label for="checkbox210"></label>
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input id="checkbox212" type="checkbox">
                                <label for="checkbox212"></label>
                            </div>
                        </td>
                        <td>HP Core i7</td>
                        <td class="text-align-right fw-semi-bold">$346.1</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input id="checkbox214" type="checkbox">
                                <label for="checkbox214"></label>
                            </div>
                        </td>
                        <td>Air Pro</td>
                        <td class="text-align-right fw-semi-bold">$533.1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="widget-body mt-xlg" data-ng-controller="MarketStatsWidgetDemoController">
                <div class="chart-overflow-bottom" data-rickshaw-chart data-series="series" data-height="100" data-realtime="true" data-random="random" data-series-data="seriesData"></div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget">
            <header>
                <h5>Calendar</h5>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body no-padding">
                <div class="bg-primary-light" data-bootstrap-calendar data-ng-controller="BootstrapCalendarDemoController" data-events="[
                [
                        '2/'+month+'/'+year,
                    'The flower bed',
                    '#',
                    app.settings.colors['brand-primary'],
                    'Contents here'
                ],
                [
                        '5/'+month+'/'+year,
                    'Stop world water pollution',
                    '#',
                    app.settings.colors['brand-warning'],
                    'Have a kick off meeting with .inc company'
                ],
                [
                        '18/'+month+'/'+year,
                    'Light Blue 2.2 release',
                    '#',
                    app.settings.colors['brand-success'],
                    'Some contents here'
                ],
                [
                        '29/'+month+'/'+year,
                    'A link',
                    'http://www.flatlogic.com',
                    app.settings.colors['brand-danger']
                ]
            ]"></div>
                <div class="list-group fs-mini">
                    <a href="#" class="list-group-item text-ellipsis">
                        <span class="badge bg-warning">6:45</span>
                        Weed out the flower bed
                    </a>
                    <a href="#" class="list-group-item text-ellipsis">
                        <span class="badge bg-success">9:41</span>
                        Stop world water pollution
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>