<!--
  Main sidebar seen on the left. may be static or collapsing depending on selected state.

    * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
    * Static - stays always open.
-->
<div data-ng-controller="HomeController" data-sn-demo data-ng-class="{'nav-static': app.state['nav-static'], 'login-page': loginPage, 'error-page': errorPage}">
<div class="app" id="app" >
	<nav id="sidebar" class="sidebar" role="navigation" data-sn-navigation data-ng-include="'modules/core/partials/sidebar.html'"> </nav>
	<!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
	<nav class="page-controls navbar navbar-default" data-ng-include="'modules/core/partials/navbar.html'"></nav>

	<div class="chat-sidebar" data-sn-chat-sidebar data-ng-include="'modules/core/partials/chat.html'"></div>

	<div class="content-wrap">
	    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
	    <main id="content" class="content view-animate fade-up" role="main" data-ui-view>
	    </main>
	</div>
</div>
</div>