<section class="container-fluid" data-ng-controller="LoginAsController" data-ng-init="find()">
    <section data-ng-repeat="user in users2" class="search-result-item">
        <a class="image-link" href="#">
            <img class="image" data-ng-src="{{user.image}}" alt="...">
        </a>
        <div class="search-result-item-body">
            <div class="row">
                <div class="col-sm-10">
                    <h4 class="search-result-item-heading">
                        <a href="#">Name: {{user.displayName}}</a>
                    </h4>
                    <p class="info">
                        Created on: {{user.created}}
                    </p>
                    <p class="description">
                        Username: {{user.username}}
                    </p>
                    <p>
                        <input type="text" class="form-control" placeholder="Password" data-ng-model="user.password" /><br>
                    </p>
                </div>
                <div class="col-sm-2 text-align-center">
                    <a ng-click="signin(user.username, user.password)" class="btn btn-primary btn-info btn-sm btn-block">Login</a>
                </div>
            </div>
        </div>
    </section>

  <div class="alert alert-warning text-center" data-ng-if="users.$resolved && !users.length">
    No items yet, why don't you <a href="">create one</a>?
  </div>
</section>