<div class="container" data-ng-controller="AuthenticationController">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                <h4 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i>
                    Agapt
                    <i class="fa fa-circle text-warning"></i>
                </h4>
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <h3>Login to your Sing App</h3>
                    </header>
                    <div class="widget-body">
                        <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
                        <div class="col-md-12 text-center">
                            <a href="/auth/facebook" class="undecorated-link thumb-sm avatar">
                                <img class="img-circle" src="/modules/users/img/buttons/facebook.png">
                            </a>
                            <a href="/auth/twitter" class="undecorated-link thumb-sm avatar">
                                <img class="img-circle" src="/modules/users/img/buttons/twitter.png">
                            </a>
                            <a href="/auth/google" class="undecorated-link thumb-sm avatar">
                                <img class="img-circle" src="/modules/users/img/buttons/google.png">
                            </a>
                            <a href="/auth/linkedin" class="undecorated-link thumb-sm avatar">
                                <img class="img-circle" src="/modules/users/img/buttons/linkedin.png">
                            </a>
                            <a href="/auth/github" class="undecorated-link thumb-sm avatar">
                                <img class="img-circle" src="/modules/users/img/buttons/github.png">
                            </a>
                        </div>
                        <p class="widget-login-info">
                            Use Facebook, Twitter or your email to sign in.
                        </p>
                        <p class="widget-login-info">
                            Don't have an account? Sign up now!
                        </p>
                        <form data-ng-submit="signin()" class="login-form mt-lg">
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="username" data-ng-model="credentials.username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" name="password" type="password" data-ng-model="credentials.password" placeholder="Password">
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar pull-right">
                                    <button type="button" class="btn btn-default btn-sm">Create an Account</button>
                                    <button type="submit" class="btn btn-inverse btn-sm" >Login</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="clearfix">
                                        <div class="checkbox widget-login-info pull-right ml-n-lg">
                                            <input type="checkbox" id="checkbox1" value="1">
                                            <label for="checkbox1">Keep me signed in </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-sm-pull-6">
                                    <a class="mr-n-lg" href="#">Trouble with account?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        2014 &copy; Sing. Admin Dashboard Template.
    </footer>
</div>