<section data-ng-controller="Search2Controller">
	<!--<div class="page-header">
		<h1>New Search</h1>
	</div>-->
	<div class="col-md-12" style="margin-top: 20px; padding: 0;">
		<div class="input-group list-group">
		        <div class="input-group-btn" dropdown>
		          <button type="button" class="btn btn-default" style="text-transform: capitalize;">Any</button>
		          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
		            <span class="caret"></span>
		          </button>
		          <ul class="dropdown-menu" role="menu">
		            <li><a ng-click="setFilterField('Any')">Any</a></li>
		            <li class="divider"></li>
		            <li><a ng-click="setFilterField('created')">Producers</a></li>
		            <li><a ng-click="setFilterField('customer_phone')">Consumers</a></li>
		          </ul>
		        </div>

		        <form ng-submit="filter()">
		        	<input type="text" class="form-control" ng-model="val" ng-keyup="" name="text" placeholder="Enter pattern to search" />
		        </form>
		        <div class="input-group-btn" ng-show="!hubPage" dropdown>
		        	<button type="button" class="btn btn-default" style="text-transform: capitalize;" ng-click="search()">
		        		<span class="glyphicon glyphicon-search" aria-hidden="true" />
		        	</button>
		        </div>
		</div>
	</div>
</section>