<section class="container-fluid" data-ng-controller="SearchController">
	<div class="col-md-12" style="margin-top: 20px; padding: 0;">
		<div class="input-group list-group">
	        <div class="input-group-btn" dropdown>
	          <button type="button" class="btn btn-default" style="text-transform: capitalize;">{{typeLabel}}</button>
	          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
	            <span class="caret"></span>
	          </button>
	          <ul class="dropdown-menu" role="menu">
	            <!--<li><a ng-click="setFilterField('Any')">Any</a></li>
	            <li class="divider"></li>-->
	            <li><a ng-click="setFilterField('Item', 'Products')">Products</a></li>
	            <li><a ng-click="setFilterField('User', 'Entities')">Entities</a></li>
	          </ul>
	        </div>

	        <form ng-submit="filter()">
	          <input type="text" class="form-control" ng-model="val" ng-keyup="" name="text" placeholder="Enter pattern to search" />
	        </form>
	        <div class="input-group-btn" ng-show="!hubPage" dropdown>
	          <button type="button" class="btn btn-default" style="text-transform: capitalize;" ng-click="search()">
	            <span class="glyphicon glyphicon-search" aria-hidden="true" />
	          </button>
	        </div>
		</div>
	</div>
	<h1 class="page-title">Matching - <span class="fw-semi-bold">Results</span></h1>
	<div class="clearfix">
	    <div class="btn-toolbar">
	        <div class="btn-group">
	            <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-default">
	                Popular <span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu">
	                <li><a href="#">All</a></li>
	                <li><a href="#">Popular</a></li>
	                <li><a href="#">Interesting</a></li>
	                <li><a href="#">Latest</a></li>
	            </ul>
	        </div>
	        <div class="btn-group">
	            <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-default">
	                All Time <span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu">
	                <li><a href="#">Last 24h</a></li>
	                <li><a href="#">Last Month</a></li>
	                <li><a href="#">Last Year</a></li>
	            </ul>
	        </div>
	        <div class="btn-group pull-right">
	            <button class="btn btn-gray active" type="button"><i class="fa fa-th-list"></i></button>
	            <button class="btn btn-gray" type="button"><i class="fa fa-th-large"></i></button>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-lg-3 col-lg-push-9">
	        <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
	        <p class="text-muted fs-mini">Listed content is categorized by the following groups:</p>
	        <ul class="nav nav-pills nav-stacked search-result-categories mt">
	            <li>
	                <a href="#">
	                    Hot Ideas
	                    <span class="badge">34</span>
	                </a>
	            </li>
	            <li><a href="#">
	                Latest Pictures
	                <span class="badge">9</span>
	            </a></li>
	            <li><a href="#">Labels of Day</a></li>
	            <li>
	                <a href="#">
	                    Recent Movies
	                </a>
	            </li>
	            <li>
	                <a href="#">Globals <span class="badge">18</span></a>
	            </li>
	        </ul>
	    </div>
	    <div class="col-lg-9 col-lg-pull-3">
	        <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p>
		        <section data-ng-repeat="item in items" data-ng-init="item=item._source" class="search-result-item">
		            <a class="image-link" href="#">
		                <img class="image" data-ng-src="{{item.image}}" alt="...">
		            </a>
		            <div class="search-result-item-body">
		                <div class="row">
		                    <div class="col-sm-10">
		                        <h4 class="search-result-item-heading">
		                            <a href="#">{{item.name}}</a>
		                        </h4>
		                        <p class="info">
		                            {{item.summary}}
		                        </p>
		                        <p class="description">
		                            {{item.description}}
		                        </p>
		                        <p>
									<ul class="post-links">
									    <li ng-repeat="keyword in item.keywords">
									    	<a>{{keyword.value}}</a>
									    </li>
									</ul>
		                        </p>
		                    </div>
		                    <div class="col-sm-2 text-align-center">
		                        <p class="value3 mt-sm">
		                            ${{item.price}}
		                        </p>
		                        <p class="fs-mini text-muted">
		                            {{item.quantity}}
		                        </p>
								<a ui-sref="app.page(item._id)" class="btn btn-primary btn-info btn-sm btn-block">View Details</a>
								<a ui-sref="app.page(item._id)" class="btn btn-primary btn-info btn-sm btn-block" data-ng-if="item.connected">Consume</a>
								<a ui-sref="app.page(item._id)" class="btn btn-primary btn-info btn-sm btn-block disabled" data-ng-if="!item.connected">Consume</a>
								<a ui-sref="app.page(item._id)" class="btn btn-primary btn-info btn-sm btn-block disabled" data-ng-if="item.connected">Connect</a>
								<a ui-sref="app.page(item._id)" class="btn btn-primary btn-info btn-sm btn-block" data-ng-if="!item.connected">Connect</a>
		                    </div>
		                </div>
		            </div>
		        </section>
	        </div>
	        <div class="text-align-center">
	            <ul class="pagination pagination-sm">
	                <li class="disabled"><a href="#">Prev</a></li>
	                <li class="active"><a href="#">1</a></li>
	                <li><a href="#">2</a></li>
	                <li><a href="#">3</a></li>
	                <li><a href="#">4</a></li>
	                <li><a href="#">5</a></li>
	                <li><a href="#">Next</a></li>
	            </ul>
	        </div>
	    </div>
	</div>
</section>