<a class="list-group-item bg-warning-light" href="#">
    <span class="thumb-sm pull-left mr">
        <img class="img-circle" src="modules/core/demo/img/people/a2.jpg" alt="...">
        <i class="status status-bottom bg-success"></i>
    </span>
    <time class="text-link help pull-right">10 sec ago</time>
    <h5 class="no-margin fw-bold mb-xs">Chris Gray</h5>
    <p class="deemphasize text-ellipsis no-margin">Hey! What's up? So many times since we</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <img class="img-circle" src="modules/core/img/avatar.png" alt="...">
        <i class="status status-bottom bg-success"></i>
    </span>
    <time class="text-link help pull-right">2 min ago</time>
    <h5 class="no-margin mb-xs">Jamey Brownlow</h5>
    <p class="deemphasize text-ellipsis no-margin">Good news coming tonight. Seems they agreed to proceed</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <img class="img-circle" src="modules/core/demo/img/people/a1.jpg" alt="...">
        <i class="status status-bottom bg-warning"></i>
    </span>
    <time class="text-link help pull-right">9 min ago</time>
    <h5 class="no-margin mb-xs">Livia Walsh</h5>
    <p class="deemphasize text-ellipsis no-margin">Check out my latest email plz!</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <img class="img-circle" src="modules/core/img/avatar.png" alt="...">
        <i class="status status-bottom bg-danger"></i>
    </span>
    <time class="text-link help pull-right">12:56 AM</time>
    <h5 class="no-margin mb-xs">Jaron Fitzroy</h5>
    <p class="deemphasize text-ellipsis no-margin">What about summer break?</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <img class="img-circle" src="modules/core/demo/img/people/a4.jpg" alt="...">
        <i class="status status-bottom bg-gray-light"></i>
    </span>
    <time class="text-link help pull-right">Yesterday</time>
    <h5 class="no-margin mb-xs">Mike Lewis</h5>
    <p class="deemphasize text-ellipsis no-margin">Just ain't sure about the weekend now. 90% I'll make it.</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <img class="img-circle" src="modules/core/demo/img/people/a6.jpg" alt="...">
        <i class="status status-bottom bg-success"></i>
    </span>
    <time class="text-link help pull-right">Apr 23</time>
    <h5 class="no-margin mb-xs">Freda Edison</h5>
    <p class="deemphasize text-ellipsis no-margin">Hey what's up? Me and Monica going for a lunch somewhere. Wanna join?</p>
</a>