<div class="list-group-item">
    <span class="thumb-sm pull-left mr clearfix">
        <img class="img-circle" src="modules/core/demo/img/people/a3.jpg" alt="...">
    </span>
    <p class="no-margin overflow-hidden">
        1 new user just signed up! Check out
        <a href="#">Monica Smith</a>'s account.
        <time class="help-block no-margin">
            2 mins ago
        </time>
    </p>
</div>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <i class="glyphicon glyphicon-upload fa-lg"></i>
    </span>
    <p class="text-ellipsis no-margin">
        2.1.0-pre-alpha just released. </p>
    <time class="help-block no-margin">
        5h ago
    </time>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <i class="fa fa-bolt fa-lg"></i>
    </span>
    <p class="text-ellipsis no-margin">
        Server load limited. </p>
    <time class="help-block no-margin">
        7h ago
    </time>
</a>
<div class="list-group-item">
    <span class="thumb-sm pull-left mr clearfix">
        <img class="img-circle" src="modules/core/demo/img/people/a5.jpg" alt="...">
    </span>
    <p class="no-margin overflow-hidden">
        User <a href="#">Jeff</a> registered
        &nbsp;&nbsp;
        <button class="btn btn-xs btn-success">Allow</button>
        <button class="btn btn-xs btn-danger">Deny</button>
        <time class="help-block no-margin">
            12:18 AM
        </time>
    </p>
</div>
<div class="list-group-item">
    <span class="thumb-sm pull-left mr">
        <i class="fa fa-shield fa-lg"></i>
    </span>
    <p class="no-margin overflow-hidden">
        Instructions for changing your Envato Account password. Please
        check your <a href="#">security page</a>.
        <time class="help-block no-margin">
            12:18 AM
        </time>
    </p>
</div>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <span class="rounded bg-primary rounded-lg">
            <i class="fa fa-facebook text-white"></i>
        </span>
    </span>
    <p class="text-ellipsis no-margin">
        New <strong>76</strong> facebook likes received.</p>
    <time class="help-block no-margin">
        15 Apr 2014
    </time>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-left mr">
        <span class="circle circle-lg bg-gray-dark">
            <i class="fa fa-circle-o text-white"></i>
        </span>
    </span>
    <p class="text-ellipsis no-margin">
        Dark matter detected.</p>
    <time class="help-block no-margin">
        15 Apr 2014
    </time>
</a>