<section data-ng-controller="ConsumesController">
	<div class="page-header">
		<h1>New Consume</h1>
	</div>
	<div class="col-md-12">
		<form name="consumeForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.title.$dirty && consumeForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.summary.$dirty && consumeForm.summary.$invalid }">
					<label class="control-label" for="summary">Summary</label>
					<div class="controls">
						<input name="summary" type="text" data-ng-model="summary" id="summary" class="form-control" placeholder="summary">
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.image.$dirty && consumeForm.image.$invalid }">
					<label class="control-label" for="title">Item Image</label>
					<div class="controls">
						<input name="image" type="text" data-ng-model="image" id="image" class="form-control" placeholder="image" >
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="description"></textarea>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.title.$dirty && consumeForm.title.$invalid }">
					<label class="control-label" for="bullet_point">Bullet Point</label>
					<div class="controls">
						<input name="bullet_point" type="text" data-ng-model="bullet_point" id="bullet_point" class="form-control" placeholder="bullet_point" >
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.type.$dirty && consumeForm.type.$invalid }">
					<label class="control-label" for="type">Oferring type</label>
					<div class="controls">
						<input name="type" type="radio" data-ng-model="type" id="type" >Products</input>
						<input name="type" type="radio" data-ng-model="type" id="type" >Services</input>
					</div>
				</div>
				<h1>Product</h1>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.id.$dirty && consumeForm.id.$invalid }">
					<label class="control-label" for="id">Id</label>
					<div class="controls">
						<input name="id" type="text" data-ng-model="id" id="id" class="form-control" placeholder="Title" >
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.category.$dirty && consumeForm.category.$invalid }">
					<label class="control-label" for="category">Category</label>
					<div class="controls">
						<input name="category" type="text" data-ng-model="category" id="category" class="form-control" placeholder="category" >
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': consumeForm.title.$dirty && consumeForm.title.$invalid }">
					<label class="control-label" for="title">Offered by</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" >
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="units">Units</label>
					<input name="units" type="text" data-ng-model="units" id="units" class="form-control" placeholder="units" >
					<label class="control-label" for="price">Price</label>
					<input name="price" type="text" data-ng-model="price" id="price" class="form-control" placeholder="price" >
					<label class="control-label" for="keywords">Keywords</label>
					<input name="keywords" type="text" data-ng-model="keywords" id="keywords" class="form-control" placeholder="keywords" >
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>