<section data-ng-controller="ConsumesController" data-ng-init="find()">
			<div class="form-group" >
		      <div class="input-group" style="margin: 20px 0;">

		        <div class="input-group-btn" ng-show="!hubPage">
		          <button type="button" class="btn btn-default" style="text-transform: capitalize;">Consumables</button>
		        </div>

		        <form ng-submit="filter()">
		        	<input type="text" class="form-control" ng-model="searchParam.value" name="text" placeholder="Enter pattern to search" />
		        </form>
		        <div class="input-group-btn" ng-show="!hubPage" dropdown>
		        	<button type="button" class="btn btn-default" style="text-transform: capitalize;">
		        		<span class="glyphicon glyphicon-search" aria-hidden="true" />
		        	</button>
		        </div>
		      </div>
		    	
		    </div>
	<div class="list-group">
		<a data-ng-repeat="consume in consumes" data-ng-href="#!/consumes/{{consume._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="consume.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="consume.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="consume.title"></h4>
			<p class="list-group-item-text" data-ng-bind="consume.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="consumes.$resolved && !consumes.length">
		No consumes yet, why don't you <a href="/#!/consumes/create">create one</a>?
	</div>
</section>