<section data-ng-controller="ConsumesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="consume.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == consume.user._id">
		<a class="btn btn-primary" href="/#!/consumes/{{consume._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="consume.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="consume.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="consume.summary"></p>
	<p class="lead" data-ng-bind="consume.image"></p>
	<p class="lead" data-ng-bind="consume.description"></p>
	<p class="lead" data-ng-bind="consume.bullet_point"></p>
</section>