
<div class="chat-sidebar-content">
    <header class="chat-sidebar-header">
        <h4 class="chat-sidebar-title">Contacts</h4>
        <div class="form-group no-margin">
            <div class="input-group input-group-dark">
                <input class="form-control fs-mini" data-sn-chat-sidebar-search type="text" placeholder="Search...">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
            </div>
        </div>
    </header>
    <div class="chat-sidebar-contacts chat-sidebar-panel open">
        <h5 class="sidebar-nav-title">Today</h5>
        <div class="list-group chat-sidebar-user-group">
            <a class="list-group-item" href="#chat-sidebar-user-1">
                <i class="fa fa-circle text-success pull-right"></i>
                    <span class="thumb-sm pull-left mr">
                        <img class="img-circle" src="modules/core/demo/img/people/a2.jpg" alt="...">
                    </span>
                <h5 class="message-sender">Chris Gray</h5>
                <p class="message-preview">Hey! What's up? So many times since we</p>
            </a>
            <a class="list-group-item" href="#chat-sidebar-user-2">
                <i class="fa fa-circle text-gray-light pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/img/avatar.png" alt="...">
                </span>
                <h5 class="message-sender">Jamey Brownlow</h5>
                <p class="message-preview">Good news coming tonight. Seems they agreed to proceed</p>
            </a>
            <a class="list-group-item" href="#chat-sidebar-user-3">
                <i class="fa fa-circle text-danger pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/demo/img/people/a1.jpg" alt="...">
                </span>
                <h5 class="message-sender">Livia Walsh</h5>
                <p class="message-preview">Check out my latest email plz!</p>
            </a>
            <a class="list-group-item" href="#chat-sidebar-user-4">
                <i class="fa fa-circle text-gray-light pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/img/avatar.png" alt="...">
                </span>
                <h5 class="message-sender">Jaron Fitzroy</h5>
                <p class="message-preview">What about summer break?</p>
            </a>
            <a class="list-group-item" href="#chat-sidebar-user-5">
                <i class="fa fa-circle text-success pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/demo/img/people/a4.jpg" alt="...">
                </span>
                <h5 class="message-sender">Mike Lewis</h5>
                <p class="message-preview">Just ain't sure about the weekend now. 90% I'll make it.</p>
            </a>
        </div>
        <h5 class="sidebar-nav-title">Last Week</h5>
        <div class="list-group chat-sidebar-user-group">
            <a class="list-group-item" href="#chat-sidebar-user-6">
                <i class="fa fa-circle text-gray-light pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/demo/img/people/a6.jpg" alt="...">
                </span>
                <h5 class="message-sender">Freda Edison</h5>
                <p class="message-preview">Hey what's up? Me and Monica going for a lunch somewhere. Wanna join?</p>
            </a>
            <a class="list-group-item" href="#chat-sidebar-user-7">
                <i class="fa fa-circle text-success pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/demo/img/people/a5.jpg" alt="...">
                </span>
                <h5 class="message-sender">Livia Walsh</h5>
                <p class="message-preview">Check out my latest email plz!</p>
            </a>
            <a class="list-group-item" href="#chat-sidebar-user-8">
                <i class="fa fa-circle text-warning pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/demo/img/people/a3.jpg" alt="...">
                </span>
                <h5 class="message-sender">Jaron Fitzroy</h5>
                <p class="message-preview">What about summer break?</p>
            </a>
            <a class="list-group-item" href="#chat-sidebar-user-9">
                <i class="fa fa-circle text-gray-light pull-right"></i>
                <span class="thumb-sm pull-left mr">
                    <img class="img-circle" src="modules/core/img/avatar.png" alt="...">
                </span>
                <h5 class="message-sender">Mike Lewis</h5>
                <p class="message-preview">Just ain't sure about the weekend now. 90% I'll make it.</p>
            </a>
        </div>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-1">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Chris Gray
            </a>
        </h5>
        <ul class="message-list">
            <li class="message">
                    <span class="thumb-sm">
                        <img class="img-circle" src="modules/core/demo/img/people/a2.jpg" alt="...">
                    </span>
                <div class="message-body">
                    Hey! What's up?
                </div>
            </li>
            <li class="message">
                    <span class="thumb-sm">
                        <img class="img-circle" src="modules/core/demo/img/people/a2.jpg" alt="...">
                    </span>
                <div class="message-body">
                    Are you there?
                </div>
            </li>
            <li class="message">
                    <span class="thumb-sm">
                        <img class="img-circle" src="modules/core/demo/img/people/a2.jpg" alt="...">
                    </span>
                <div class="message-body">
                    Let me know when you come back.
                </div>
            </li>
            <li class="message from-me">
                    <span class="thumb-sm">
                        <img class="img-circle" src="modules/core/img/avatar.png" alt="...">
                    </span>
                <div class="message-body">
                    I am here!
                </div>
            </li>
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-2">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Jamey Brownlow
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-3">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Livia Walsh
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-4">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Jaron Fitzroy
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-5">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Mike Lewis
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-6">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Freda Edison
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-7">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Livia Walsh
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-8">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Jaron Fitzroy
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <div class="chat-sidebar-chat chat-sidebar-panel" id="chat-sidebar-user-9">
        <h5 class="title">
            <a class="js-back" href="#">
                <i class="fa fa-angle-left mr-xs"></i>
                Mike Lewis
            </a>
        </h5>
        <ul class="message-list">
        </ul>
    </div>
    <footer class="chat-sidebar-footer form-group">
        <input class="form-control input-dark fs-mini" data-sn-chat-sidebar-input type="text"  placeholder="Type your message">
    </footer>
</div>
