<!-- need this .js class to initiate slimscroll -->
<div class="js-sidebar-content">
    <header class="logo hidden-xs">
        <a href="index.html">{{app.name}}</a>
    </header>
    <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
         looks good, so adding it and enhancing with notifications -->
    <div class="sidebar-status visible-xs">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right">
                    <img class="img-circle" src="modules/core/demo/img/people/a5.jpg" alt="...">
                </span>
            <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
                 should be used with bg-* and text-* classes for colors -->
                <span class="circle bg-warning fw-bold text-gray-dark">
                    13
                </span>
            &nbsp;
            Philip <strong>Smith</strong>
            <b class="caret"></b>
        </a>
        <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
    </div>
    <!-- main notification links are placed inside of .sidebar-nav -->
    <ul class="sidebar-nav">
        <li>
            <a data-ui-sref="app.page({ module: 'offerings', page: 'create-offering', child: null, itemId: null })">
                    <span class="icon">
                        <i class="fa fa-laptop"></i>
                    </span>
                Offering
            </a>
        </li>
        <li>
            <a data-ui-sref="app.page({ module: 'offerings', page: 'list-offering', child: null, itemId: null })">
                    <span class="icon">
                        <i class="glyphicon glyphicon-list"></i>
                    </span>
                List Items
            </a>
        </li>
        <li>
            <a data-ui-sref="app.page({ module: 'search', page: 'view-search', child: null, itemId: null })">
                    <span class="icon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                Search
            </a>
        </li>
        <li>
            <a data-ui-sref="app.page({ module: 'users', page: 'authentication/login-as', child: null, itemId: null })">
                    <span class="icon">
                        <i class="fa fa-users"></i>
                    </span>
                Login As
            </a>
        </li>
        <li>
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                Dashboard
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-dashboard" class="collapse">
                <li><a data-ui-sref="app.page({ page: 'dashboard', child: null })">Dashboard</a></li>
                <li><a data-ui-sref="app.page({ page: 'widgets', child: null })">Widgets</a></li>
            </ul>
        </li>
        <li>
            <a data-ui-sref="app.page({ page: 'inbox', child: null })">
                    <span class="icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                Email
                    <span class="label label-danger">
                        9
                    </span>
            </a>
        </li>
        <li>
            <a data-ui-sref="app.page({ page: 'charts', child: null })">
                    <span class="icon">
                        <i class="glyphicon glyphicon-stats"></i>
                    </span>
                Charts
            </a>
        </li>
    </ul>
    <!-- every .sidebar-nav may have a title -->
    <h5 class="sidebar-nav-title">Template <a class="action-link" href="#"><i class="glyphicon glyphicon-refresh"></i></a></h5>
    <ul class="sidebar-nav">
        <li>
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="collapsed" data-target="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-align-right"></i>
                    </span>
                Forms
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-forms" class="collapse">
                <li><a data-ui-sref="app.page({ page: 'form', child: 'elements' })">Form Elements</a></li>
                <li><a data-ui-sref="app.page({ page: 'form', child: 'validation' })">Form Validation</a></li>
                <li><a data-ui-sref="app.page({ page: 'form', child: 'wizard' })">Form Wizard</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-tree-conifer"></i>
                    </span>
                UI Elements
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-ui" class="collapse">
                <li><a data-ui-sref="app.page({ page: 'ui', child: 'components' })">Components</a></li>
                <li><a data-ui-sref="app.page({ page: 'ui', child: 'notifications' })">Notifications</a></li>
                <li><a data-ui-sref="app.page({ page: 'ui', child: 'icons' })">Icons</a></li>
                <li><a data-ui-sref="app.page({ page: 'ui', child: 'buttons' })">Buttons</a></li>
                <li><a data-ui-sref="app.page({ page: 'ui', child: 'tabs_accordion' })">Tabs & Accordion</a></li>
                <li><a data-ui-sref="app.page({ page: 'ui', child: 'list_groups' })">List Groups</a></li>
            </ul>
        </li>
        <li>
            <a data-ui-sref="app.page({ page: 'grid', child: null })">
                    <span class="icon">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                Grid
            </a>
        </li>

        <li>
            <a class="collapsed" data-target="#sidebar-maps" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </span>
                Maps
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-maps" class="collapse">
                <li><a data-ui-sref="app.page({ page: 'maps', child: 'google' })">Google Maps</a></li>
                <li><a data-ui-sref="app.page({ page: 'maps', child: 'vector' })">Vector Maps</a></li>
            </ul>
        </li>
        <li>
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="collapsed" data-target="#sidebar-tables" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-table"></i>
                    </span>
                Tables
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-tables" class="collapse">
                <li><a data-ui-sref="app.page({ page: 'tables', child: 'basic' })">Tables Basic</a></li>
                <li><a data-ui-sref="app.page({ page: 'tables', child: 'dynamic' })">Tables Dynamic <sup class="bg-transparent text-danger fs-sm fw-bold">ng</sup></a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-extra" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-leaf"></i>
                    </span>
                Extra
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-extra" class="collapse">
                <li><a data-ui-sref="app.page({ page: 'calendar', child: null })">Calendar <sup class="bg-transparent text-danger fs-sm fw-bold">ng</sup></a></li>
                <li><a data-ui-sref="app.page({ page: 'invoice', child: null })">Invoice</a></li>
                <li><a data-ui-sref="login">Login Page</a></li>
                <li><a data-ui-sref="error">Error Page</a></li>
                <li><a data-ui-sref="app.page({ page: 'gallery', child: null })">Gallery <sup class="bg-transparent text-danger fs-sm fw-bold">ng</sup></a></li>
                <li><a data-ui-sref="app.page({ page: 'search', child: null })">Search Results</a></li>
                <li><a data-ui-sref="app.page({ page: 'time_line', child: null })">Time Line</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-levels" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-folder-open"></i>
                    </span>
                Menu Levels
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-levels" class="collapse">
                <li><a href>Level 1</a></li>
                <li>
                    <a class="collapsed" data-target="#sidebar-sub-levels" data-toggle="collapse" data-parent="#sidebar-levels">
                        Level 2
                        <i class="toggle fa fa-angle-down"></i>
                    </a>
                    <ul id="sidebar-sub-levels" class="collapse">
                        <li><a href>Level 3</a></li>
                        <li><a href>Level 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    <ul class="sidebar-labels">
        <li>
            <a href="#">
                <!-- yep, .circle again -->
                <i class="fa fa-circle text-warning mr-xs"></i>
                <span class="label-name">My Recent</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-gray mr-xs"></i>
                <span class="label-name">Starred</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-danger mr-xs"></i>
                <span class="label-name">Background</span>
            </a>
        </li>
    </ul>
    <h5 class="sidebar-nav-title">Projects</h5>
    <!-- A place for sidebar notifications & alerts -->
    <div class="sidebar-alerts">
        <div class="alert fade in">
            <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <span class="text-white fw-semi-bold">Sales Report</span> <br>
            <div class="progress progress-xs mt-xs mb-0">
                <div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>
            </div>
            <small>Calculating x-axis bias... 65%</small>
        </div>
        <div class="alert fade in">
            <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
            <div class="progress progress-xs mt-xs mb-0">
                <div class="progress-bar progress-bar-danger" style="width: 23%"></div>
            </div>
            <small>Provide required notes</small>
        </div>
    </div>
</div>