<section data-ng-controller="UploadsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Uploads</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="upload in uploads" data-ng-href="#!/uploads/{{upload._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="upload.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="upload.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="upload.title"></h4>
			<p class="list-group-item-text" data-ng-bind="upload.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="uploads.$resolved && !uploads.length">
		No uploads yet, why don't you <a href="/#!/uploads/create">create one</a>?
	</div>
</section>