<section data-ng-controller="UploadsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="upload.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == upload.user._id">
		<a class="btn btn-primary" href="/#!/uploads/{{upload._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="upload.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="upload.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="upload.content"></p>
</section>