<section data-ng-controller="EntitiesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Entities</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="entity in entities" data-ng-href="#!/entities/{{entity._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="entity.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="entity.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="entity.title"></h4>
			<p class="list-group-item-text" data-ng-bind="entity.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="entities.$resolved && !entities.length">
		No entities yet, why don't you <a href="/#!/entities/create">create one</a>?
	</div>
</section>