<section data-ng-controller="EntitiesController" data-ng-init="init()">
	<div class="page-header">
		<h1 data-ng-bind="entity.displayName"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == entity.user._id">
		<a class="btn btn-primary" href="/#!/entities/{{entity._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="entity.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="entity.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="entity.content"></p>

	<div class="list-group">
			<a data-ng-repeat="entity2 in suggestConnections" data-ng-href="#!/entities/{{entity._id}}" class="list-group-item">
				<small class="list-group-item-text">
					Posted on
					<span data-ng-bind="entity2.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="entity2.displayName"></span>
				</small>
				<button ng-if="entity2._id !== entity._id" type="button" class="btn btn-primary pull-right" data-ng-click="connect(entity2._id);">Connect</button>
				<h4 class="list-group-item-heading" data-ng-bind="entity2.connected"></h4>
			</a>
	</div>
	
	<div class="page-header">
		<h2>Your connections</h2>
	</div>
	<div class="list-group">
			<a data-ng-repeat="entity in connections" class="list-group-item">
				<small class="list-group-item-text">
					Posted on
					<span data-ng-bind="entity.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="entity.from.displayName"></span>
					to
					<span data-ng-bind="entity.to.displayName"></span>
				</small>
				<button type="button" class="btn btn-danger pull-right" data-ng-click="connectionRemove(entity._id);">Remove</button>
				<h4 class="list-group-item-heading" data-ng-bind="entity.connected"></h4>
			</a>
	</div>

	<div class="page-header">
		<h2>Connections awaiting your approval</h2>
	</div>
	<div class="list-group">
			<a data-ng-repeat="entity in pendingConnections" class="list-group-item">
				<small class="list-group-item-text">
					Posted on
					<span data-ng-bind="entity.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="entity.from.displayName"></span>
					to
					<span data-ng-bind="entity.to.displayName"></span>
				</small>
				<div class="pull-right">
					<button type="button" class="btn btn-success" data-ng-click="connUpdate(entity._id);">Approve</button>
					<button type="button" class="btn btn-danger" data-ng-click="connectionRemove(entity._id);">Deny</button>
				</div>
				<h4 class="list-group-item-heading" data-ng-bind="entity.connected"></h4>
			</a>
	</div>

	<div class="page-header">
		<h2>Connections requested by you</h2>
	</div>
	<div class="list-group">
			<a data-ng-repeat="entity in requestedConnections" class="list-group-item">
				<small class="list-group-item-text">
					Posted on
					<span data-ng-bind="entity.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="entity.from.displayName"></span>
					to
					<span data-ng-bind="entity.to.displayName"></span>
				</small>
				<button type="button" class="btn btn-danger pull-right" data-ng-click="connectionRemove(entity._id);">Remove</button>
				<h4 class="list-group-item-heading" data-ng-bind="entity.connected"></h4>
			</a>
	</div>
</section>